sudo: required
dist: trusty
before_install:
- sudo apt-get -qq update && sudo apt-get install -y texlive-fonts-recommended texlive-latex-extra
  texlive-fonts-extra dvipng texlive-latex-recommended latex-xcolor pgf texlive-pictures
  texlive-full
script:
- mkdir _build
- pdflatex -interaction=nonstopmode -halt-on-error -output-directory _build src/cv.tex
deploy:
  provider: releases
  api_key:
    secure: "Nam94oKpH47FyXqmmRJEjMEkJrWhM7rR20mUmKywYEEbeoY6mFB+KGNe/kXrRMXVqiRC0QtnSAlpIQgW/foPxqxa2N+5CqE/HzIIu0+aEKzziID/iZPIl06LwmuhoLgp/JN8e1pCwqFgCNKxABvtyOHfJd5Co0RoPVahZlpEzPg8zPF4bjoytZPkceiasw75+YaUAAliOe2EOp6vze0plEeiZKWLNJEeL0zT7TMv2FkrfmMcEUgjYrEZ/ZGX5yJgNErswoT6I4Z5FGUITgnWoT3KGCfWm1Q7mwv0kD4tglBxz68ATUJ07sn4PJ2ERLIRwcwKzGtGDg8P/NLao7KfwA4utakItwV1xeLVcwNOtSTgZ/RLBh8ECGJGAozFu/ycNT2VEMSHoYwV70mKrPJkvfYBIQB07wW6HaHptIjqs45rNfWsH5wrlYSzFZMAPTTs4avSHUnDk1WuNTxAN6qtEVQ+LbV/M87myFu2mvwBJDNx3FRmoS+nQVYsyO+N/jQU+Jie1Rv0wtdpTChuGSM5ZHyAKWCbq+heLt6X4TbDHSByDofPT/8TA2ZJvmaptbR0rIacqmdSOlg/O8TXI/NvgBXKzghPguFx5fHNEsXR3iiJ7i/XOOrlrH4LKUwsqLkzXJSa0r7IoT+LPI7bWdhtSuu4nH3xana+uJpUnHAxRf0="
  file: _build/cv.pdf
  skip_cleanup: true
  overwrite: true
  on:
    repo: ryad0m/cv
